/*
Project : Built a bracelet
Description : Built a custom braclet by changing the color, size, style etc..
Author : Karthik Aathis ( Karthik@kodebuilders.com ), Sandeep@ganguli.com
*/

/* Import Bootstrap*/
@import 'Bootstrap-Sass/stylesheets/_bootstrap.scss';

/* Import animations*/
@import 'animate.scss';
@import 'snippets.scss';

//fonts 
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,700,600);

@font-face {
  font-family: 'Aileron-Regular';
  src: url('../fonts/Aileron-Regular.otf');
}

@font-face {
  font-family: 'Aileron-Bold';
  src: url('../fonts/Aileron-Bold.otf');
}

@font-face {
  font-family: 'Aileron-SemiBold';
  src: url('../fonts/Aileron-SemiBold.otf');
}

@font-face {
  font-family: 'Aileron-Light';
  src: url('../fonts/Aileron-Light.otf');
}

@font-face {
  font-family: 'Aileron-Italic';
  src: url('../fonts/Aileron-Italic.otf');
}

//media screens

$large: 1366px;
$medium: 1200px;
$small: 992px;
$tab: 768px;
$phone: 320px;
 
// font variables
$aileron: 'Aileron-Regular', Arial, sans-serif;
$aileron_Light: 'Aileron-Light', Georgia, serif;
$aileron_Bold : 'Aileron-Bold', Arial, sans-serif;
$aileron-SemiBold : 'Aileron-SemiBold', Arial, sans-serif;
$aileron-Italic : 'Aileron-Italic', Arial, sans-serif;

//clours
$black: #000000; 
$white: #ffffff;
$dark_grey: #333333;
$theme_saffron: #f8971d;

body {
	font-family: $aileron;
	letter-spacing: 0.01em;
	font-size: 15px;
	background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $aileron_Bold;
}

h4 {
	font-size: 19px;
}

h6 {
	font-size: 10px;
}

ul {
	list-style-type: none;
}

a {
	color: $black;
}

.collapsed-2 {
	display: inline;
	margin-top: 8px !important;
}

.top-nav {
	display: flex;
	justify-content: center;

	@media screen and (max-width: $tab) {
		display: block;
		justify-content: center;
		margin-top: 15px;
	}
}

.page-container {
	@extend .container;
	margin-bottom: 50px;

	.expanded-line {
		@extend .col-md-2;
		float: right;

		img {
			margin-top: 20px;
    		position: fixed;
    		top: 100px;
    		margin-left: 117px;
			z-index: 10000;

    		@media screen and (max-width: $medium) {
				margin-left: 87px;
			}

			@media screen and (max-width: $small) {
				margin-left: -40px;
			}

    		@media screen and (max-width: $tab) {
				top: 12%;
			    margin-left: -41px;
			}
		}
	}
	
	.logo-section {
		@extend .col-md-10;
		margin-bottom: 30%;
		display: flex;
		justify-content: center;
		text-align: center;
		width: 49.333333%;

		.logo {
			@extend .row;
			top: 0;
		    width: 16%;
		    padding: 20px;
		    position: fixed;
		    background-color: #f4f4f4;
		    z-index: 100;
		    margin-left: -57px;

			.logo-inner {
				@extend .col-md-12;
				@extend .col-md-offset-1;

				.title-name {
					font-size: 45px;
					letter-spacing: -0.03em;
					img {
						float: right;
					}
				}

				.subtitle {
					font-size: 17px;
					font-family: $aileron-SemiBold; 
				}
			}

			@media screen and (max-width: $small) {
				width: 30%;
				margin-left: -38px;
			}

			@media screen and (max-width: $tab) {
				width: 44%;
				margin-left: -22px;
			}
		}

		.expanded-logo {
			@extend .row;
			top: 100px;
		    padding: 20px;
		    position: fixed;
		    background-color: #f4f4f4;
		    z-index: 100;

			.logo-inner {
				@extend .col-md-12;
				@extend .col-md-offset-1;
				margin-left: 0;

				.title-name {
					font-size: 45px;
					letter-spacing: -0.03em;
					img {
						float: right;
					}
					
					@media screen and (max-width: $large) {
						font-size: 38px;
					}
				}

				.subtitle {
					font-size: 17px;
					font-family: $aileron-SemiBold; 
				}
				
				@media screen and (max-width: $large) {
					font-size: 16px;
				}
			}

			@media screen and (max-width: $large) {
				margin-left: -48px;
			}

			@media screen and (max-width: $medium) {
				/*width: 26%;*/
				margin-left: -59px;
			}

			@media screen and (max-width: $small) {
				/*width: 30%;*/
    			margin-left: -69px;
			}

			@media screen and (max-width: $tab) {
				width: 68%;
				margin-left: -79px;
			}
			
			@media screen and (max-width: 513px) {
				width: 75%;
			}
			
			@media screen and (max-width: 451px) {
				width: 79%;
				margin-left: -95px;
				padding-right: 0;
			}

			@media screen and (max-width: 425px) {
				width: 80%;
				margin-left: -98px;
			}
			
			@media screen and (max-width: 320px) {
				width: 101%;
			}
		}

		@media screen and (max-width: $medium) {
			margin-bottom: 46%;
		}

		@media screen and (max-width: $small) {
			margin-bottom: 58%;
		}

		@media screen and (max-width: $tab) {
			margin-bottom: 425px;
		}

		@media screen and (max-width: 425px) {
			margin-bottom: 450px;
		}
		
		@media screen and (max-width: 320px) {
			margin-bottom: 345px;
		}
	}
	
	.logo-expands {
		width: 55.333333%
	}

	.line {
		@extend .col-md-2;
		float: right;

		img {
			margin-top: 95px;
    		position: fixed;

    		@media screen and (max-width: $small) {
				top: 10%;
				margin-top: 0;
			}

			@media screen and (max-width: $tab) {
				top: 12%;
			    margin-left: -41px;
			}
		}
	}

	.sticky-logo{
		@extend .navbar;
		@extend .navbar-inverse;
		@extend .navbar-fixed-top;
		@extend .col-md-offset-1;

		.logo-inner {
			@extend .col-md-12;
			@extend .col-md-offset-1;

			.title-name {

			}

			.subtitle {

			}
		}
	}

	.posts {
		@extend .row;
		@extend .col-md-12;

		.yesterday {
			@extend .col-md-2;
			@extend .col-sm-12;
			@extend #general_post;
			width: 20%;

			@media screen and (max-width: $tab) {
				width: 100%;
			}
		}

		.days-ago {
			@extend .col-md-2;
			@extend .col-sm-12;
			@extend #general_post;
			width: 20%;

			@media screen and (max-width: $tab) {
				width: 100%;
			}
		}

		.last-week {
			@extend .col-md-2;
			@extend .col-sm-12;
			@extend #general_post;
			width: 20%;

			@media screen and (max-width: $tab) {
				width: 100%;
			}
		}

		.weeks-ago {
			@extend .col-md-2;
			@extend .col-sm-12;
			@extend #general_post;
			width: 20%;

			@media screen and (max-width: $tab) {
				width: 100%;
			}
		}

		.last-month {
			@extend .col-md-2;
			@extend .col-sm-12;
			@extend #general_post;
			width: 20%;

			@media screen and (max-width: $tab) {
				width: 100%;
			}
		}

		@media screen and (max-width: $tab) {
			width: 100%;
		}
	}

	.banner {
		@extend .col-md-12;
		margin: 40px 0px;

		@media screen and (max-width: $small) {
			@extend .row;
		}
	}

	.detailed-post {
		// @extend .row;
		@extend .col-md-12;

		.archive {
			@extend .col-md-2;

			p {
				font-size: 17px;
				font-family: $aileron_Bold; 
			}
		}

		.post-content {
			@extend .col-md-8;

			.date {
				font-size: 17px;
				font-family: $aileron_Bold; 
			}

			.post-section-1 {

				p {
					margin: 20px 0 20px;
				}

				.post-heading {
					font-size: 37px;
					font-family: $aileron_Light;
					margin-top: 70px;
					margin-bottom: 70px;
				}

			}

			.art-with-objective {
				margin-top: 100px;
    			margin-bottom: 100px;

    			h4 {
    				margin-bottom: 70px;
    				text-align: center;
    				font-size: 25px;

    				.subtitle {
    					font-family: $aileron-Italic;
    					font-size: 15px;
    				}
    			}

    			p {
    				margin: 20px 0 20px;
    			}
			}

			.post {

				.date {

				}

				.content {
					.post-heading {

					}
				}
			}
		}

		.socials {
			@extend .col-md-2;
			@media screen and (max-width:992px) {
				width: 100%;
				margin-top: -30px;
				margin-bottom: 40px;
			}
			
			@media screen and (max-width:543px) {
					margin-top: -70px;
				}

			p {
				font-size: 17px;
				font-family: $aileron_Bold;
				@media screen and (max-width:992px) {
					width: 24%;
					display: -webkit-inline-box;
				}
				
				@media screen and (max-width:600px) {
					width: 22%;
					font-size: 14px;
				}
				
				@media screen and (max-width:543px) {
					width: 23%;
					font-size: 2vw;
				}
			}
		}
	}

	.divider {
		@extend .col-md-12;
		margin: 0 18px;
		width: 1105px;
		border-bottom: 10px solid #000;

		@media screen and (max-width: $medium) {
			width: 907px;
		}

		@media screen and (max-width: $small) {
			width: 687px;
		}

		@media screen and (max-width: $tab) {
			width: 100%;
		}
	}

	.comments-container {
		@extend .row;
		@extend .col-md-8;
		@extend .col-md-offset-2;
		margin-bottom: 30px;
    	margin-top: 50px;

		.comments-holder {
			@extend .col-md-12;
			padding-left: 0;

			.list-style {
				@extend .col-md-1;
				@extend .col-xs-1;
				@media screen and (max-width: $medium) {
					width: 10.333333%;
				}
				
				@media screen and (max-width: $tab) {
					width: 13.333333%;
				}
				
				@media screen and (max-width: 470px) {
					width: 17.333333%;
				}
				
				@media screen and (max-width: 370px) {
					width: 20.333333%;
				}
			}

			.comments {
				@extend .col-md-11;
				@extend .col-xs-11;
				@media screen and (max-width: $medium) {
					width: 89.666667%;
				}
				
				@media screen and (max-width: $tab) {
					width: 86.666667%;
				}
				
				@media screen and (max-width: 470px) {
					width: 82.666667%;
				}
				
				@media screen and (max-width: 370px) {
					width: 79.666667%;
				}

				.commentator {
					font-size: 17px;
					font-family: $aileron_Bold;
				}

				.title {
					font-size: 19px;
					font-family: $aileron_Light;
				}

				.desc {
					font-size: 13px;
				}
			}
		}
	}

	.divider-2 {
		@extend .col-md-12;
		margin: 0 18px;
		width: 1105px;
		border-bottom: 10px solid #000;

		@media screen and (max-width: $medium) {
			width: 907px;
		}

		@media screen and (max-width: $small) {
			width: 687px;
		}

		@media screen and (max-width: $tab) {
			width: 100%;
		}
	}
}

.navbar {
  min-height: 80px;
}

.collapse {
	margin-top: 15px;
}

// // Nav bar
// .logo-section {
// 	.navbar-default .navbar-toggle .icon-bar {
// 	    background-color: #888;
// 	}

// 	.icon-bar {
// 		background-color: #333;
// 	} 
	
// 	@media screen and (max-width: 768px ) {
// 		.logo {
// 		    float: left;
// 		    padding: 27px 20px !important;
// 		    font-size: 18px; 

// 		    img {
// 		    	width: 150px;
// 		    }
// 		}

// 	}
// }

// .navbar-toggle, .header .header-container .logo-section .collapsed-btn {
//     position: relative;
//     float: right;
//     margin-right: 50px;
//     padding: 9px 10px;
//     margin-top: 35px;
//     background-color: transparent;
//     background-image: none;
//     border: 1px solid transparent;
//     border-radius: 4px;
// }

// .navbar-collapse.in, .header .header-container .in.header-menu, 
// .footer .page-container .in.footer-container {
//     overflow-y: auto;
//     background-color: #fff;
//     margin-top: 20px;
// }

// @media screen and (max-width: 768px ) {
// 	.header-menu .header-social-icons li a {
// 	    padding: 10px 5px;
// 	}
// }

// @media screen and (min-width: 769px ) and (max-width: 992px ) {
// 	.header .header-container .logo-section .logo img {
// 	    margin-top: -2px;
// 	    width: 135px;
// 	}

// 	.nav > li > a, .header .header-container .header-menu .header-social-icons > li > a, .header .header-container .header-menu .header-menu-items > li > a, .footer .page-container .footer-container .footer-menu > li > a {
// 	    position: relative;
// 	    display: block;
// 	    padding: 10px 10px;
// 	}
// }

/* external css: flickity.css */

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// body { font-family: sans-serif; }

.gallery {
  background: black;
}

.gallery-cell {
  width: 70%;
  height: 200px;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  display:         flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-align-items: center;
          align-items: center;
}

.gallery-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s, -webkit-filter 0.3s, filter 0.3s;
          transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.gallery-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-filter: none;
          filter: none;

   height: 500px;
}

@media screen and ( min-width: 768px ) {
  .gallery-cell {
    height: 400px;
  }
}

@media screen and ( min-width: 960px ) {
  .gallery-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
/* closer to edge */
.flickity-prev-next-button.previous { left: 0; }
.flickity-prev-next-button.next { right: 0; }
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
/* external css: flickity.css end*/

.horizontal-line {
	display: flex;
	justify-content: flex-end;
	margin-top: -47px;

	@media screen and ( max-width: 768px ) {
		display: none;
	}
}

.flickity-prev-next-button, flickity-prev-next-button {
	display: none;
}

.posts {
	background-color: #f4f4f4;
}