/* 
Project: NCBBA 
Author : Sandeep Duddagimath (Sandeep@ganguli.com)
*/

// Common button style for select inch, select band type

#general_post {
	.day {
		color: #afafaf;
	}

	.post-title {

	}

	.post-desc {

	}
}